#logina{
    padding: 2%;
    text-align: center;
    height: 20px;
}
button{
    width: 100%;
    min-width: 50px;
    max-width: 100px;
}
.nav_logo{
    filter: grayscale(100%);
}
.nav_logo:hover{
    filter: grayscale(0%);
}