a{
    text-decoration: none;
}
body{
    margin: 0%;
}
button, input[type=submit]{
    height: 30px;
    border: none;
    background-color: powderblue;
    border-radius: 12px;
    cursor: pointer;
}
#banner{
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr 0.3fr;
}